*{
    box-sizing: border-box;
    border: 1px solid black;
}
body{
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.game-title{
    height: 10%;
    width: 100%;
}
.game-content{
    height:90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.board{
    display: grid;
    width: 70%;
    grid-template-columns: .33fr .33fr .33fr;
    grid-template-rows: .33fr .33fr .33r;
    grid-gap: 10px;
    background-color: blanchedalmond;
}
.actions{
    width: 30%;
}
.square{
    background-color: whitesmoke;
}
